*.py[cod]

# Prevent csv files from test runs showing up in the repo
*.csv

# C extensions
*.so
.python-version

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64
.python-version

# Installer logs
pip-log.txt
.DS_Store
.travis-solo
Icon

# Documentation
_build
_sources
_static
objects.inv
searchindex.js

# virtualenv
env/
env*/
venv*/

# swap
[._]*.s[a-v][a-z]
[._]*.sw[a-p]
[._]s[a-v][a-z]
[._]sw[a-p]
